language: r
pandoc_version: 1.19
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - cd website
  - npm install
script:
  - ./build.sh
deploy:
  provider: script
  skip_cleanup: true
  script:
    - ./deploy.sh
  on:
    branch: website
