language: r
pandoc_version: 1.19
before_install:
  - tlmgr install pagecolor
  - tlmgr install mdframed
  - tlmgr install needspace
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - cd website
  - npm install
  - npm install --global surge
script:
  - ./build.sh
deploy:
  provider: script
  skip_cleanup: true
  script:
    - ./deploy.sh
  on:
    branch: website
